$pink: #E10573;
$mainFont: 'Pacifico';
$buttonBackground: #f2f2f2;

@import url('http://fonts.googleapis.com/css?family=Pacifico');

body {
    margin: 0;
}

/*----preloader----*/

.preloader { 
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;

    .preloader-gif {
        display: block;
        width: 700px;
        height: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -350px 0 0 -350px;
        background: url('../preloader.gif') no-repeat; 
    }  
}

/*---container---*/

.container {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    /*background: pink;*/
}

/*----buttons----*/
.button {
    padding: 10px;
    margin: 10px auto;
    /*width: 200px;*/
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
}

/*----choose gender----*/
#gender {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /*background: yellow;*/

    h1 {
        font-family: $mainFont;
        font-size: 50px;
    }

    h3 {
        font-family: $mainFont;
        font-size: 30px; 
    }

    img {
        border: 3px solid $pink;
        width: 95%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .button {
        border: 3px solid $pink;
        height: 80px;
        line-height: 80px;
        width: 60%;
        background-color: $buttonBackground;
        font-family: 'Arial';
        color: $pink;
    }

    .female,
    .male {
        /*display: inline;*/
    }
}

/*----outfits----*/
#women,
#men {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    img {
        width: 250px;
        height: auto;
        /*border-radius: 25%;*/
    }

    .button {

    }
}