$pink: #E10573;
$blue: #1867E7;
$mainFont: 'Pacifico';
@import url('http://fonts.googleapis.com/css?family=Pacifico');

body {
    margin: 0;
    background: url('../grey_stripes.jpg') repeat;
}

a {
    text-decoration: none;
    font-family: $mainFont;
    font-size: 18px;
}

/*----preloader----*/

.preloader { 
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;

    .preloader-gif {
        display: block;
        width: 700px;
        height: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -350px 0 0 -350px;
        background: url('../preloader.gif') no-repeat; 
    }  
}

/*---container---*/

.container {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

/*----buttons----*/
.button {
    cursor: pointer;
    background: #fff;
}

/*----choose gender----*/
#gender {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    /* Internet Explorer 10 */
/*    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;*/

    /* Firefox */
/*    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;*/

    /* Safari, Opera, and Chrome */
/*    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;*/

    /* W3C */
/*    display:box;
    box-pack:center;
    box-align:center;*/

    h1 {
        font-family: $mainFont;
        font-size: 50px;
        margin: 0;
        padding: 20px 15px;
    }

    h3 {
        font-family: $mainFont;
        font-size: 30px; 
    }

    img {
        border: 2px solid #ccc;
        width: 95%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .button {
        padding: 10px;
        margin: 10px auto;
        height: 60px;
        line-height: 60px;
        width: 60%;
        min-width: 300px;
        font-family: 'Arial';
        font-size: 20px;
    }

    .female {
        border: 2px solid $pink;
        color: $pink;
    }

    .male {
        border: 2px solid $blue;
        color: $blue;
    }
}

/*----outfits----*/

#outfits {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    min-height: 100vh;
}

#women,
#men {
    width: 100%;
    text-align: center;

    h5 {
        font-family: $mainFont;
        font-size: 30px;
        margin: 0;
        padding: 20px 15px;
    }

    p {
        font-family: 'Arial';
        padding-right: 15px;
        padding-left: 15px;

        span {
            font-family: $mainFont;
            font-size: 18px;
        }
    }

    .gender-container{
        width: 320px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;


        img {
            border: 1px solid #ccc;
            width: 320px;
            height: auto;
            margin: 7px 0;
        }

        .button {
            width: 320px;
            height: 60px;
            line-height: 60px;
            margin: 7px 0;
            font-size: 16px;
        }
    }
}

#women {

    .button {
        border: 1px solid $pink;
        color: $pink;
        font-family: 'Arial';
    }

    .male {
        color: $blue;
    }

    h5 {
        span {
            color: $pink;
        }
    }

    p {
        span {
            color: $pink;
        }
    }

    a {
        color: $pink;
    }
}

#men {

    .button {
        border: 1px solid $blue;
        color: $blue;
        font-family: 'Arial';
    }

    .female {
        color: $pink;
    }

    h5 {
        span {
            color: $blue;
        }
    }

    p {
        span {
            color: $blue;
        }
    }

    a {
        color: $blue;
    }
}