<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="J.Crew, fashion, NYC, New York City, clothes">
  <meta name="description" content="Let J.Crew help you figure out what to wear.">
  <title>J.Crew Help Me!</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" >
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->


</head>
<body>
  <!-- preloader -->
  <!-- <div class="preloader"><span class="preloader-gif"></span></div> -->

  <div class="products">
    <!-- loop through categories -->
    <% @categories.each do |key, attributes| %>
      <!-- loop through subcategories (i.e. sweaters, pants) -->
      <% attributes.get_links.zip(attributes.get_links_img).each do |link, image| %>
        <div class="product">
          <a href="<%= link %>" target="_blank"><img src="<%= image %>"></a>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container">

    <!-- choose gender -->
    <div id="gender">
      <h1>Help me, J.Crew!</h1>
      <div id="gif1"><img src="women-nothing1.gif"></div>
      <h3>Please choose:</h3>
      <div class="female button">Female</div>
      <div class="male button">Male</div>
    </div>

    <div id="outfits">

      <!-- women's outfits -->
      <div id="women">
        <h5>Help me, J.Crew!</h5>
        <p>Can't figure out what to wear? Let <span>Help me, J.Crew!</span> pick your next outfit!</p>
        <p>Simply click the <span>Generate</span> button until you find an outfit you like. Click the images to start shopping!</p>
        <div class="gender-container">
          <div class="image top women-tops"></div>
          <div class="another button">Generate Another</div>
          <div class="male button">Switch to Male</div>
          <div class="image bottom women-bottoms"></div>
        </div>
        <p>Built by <a href="http://korenlc.com" target="_blank">Koren Leslie Cohen</a> &hearts;</p>
      </div>

      <!-- men's outfits -->
      <div id="men">
        <h5>Help me, J.Crew!</h5>
        <p>Can't figure out what to wear? Let <span>Help me, J.Crew!</span> pick your next outfit!</p>
        <p>Simply click the <span>Generate</span> button until you find an outfit you like. Click the images to start shopping!</p>
        <div class="gender-container">
          <div class="image top men-tops"></div>
          <div class="another button">Generate Another</div>
          <div class="female button">Switch to Female</div>
          <div class="image bottom men-bottoms"></div>
        </div>
        <p>Built by <a href="http://korenlc.com" target="_blank">Koren Leslie Cohen</a> &hearts;</p>
      </div>

    </div>

  </div>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="javascripts/jcrew.js"></script>

</body>
</html>