<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="J.Crew, fashion, NYC, New York City, clothes">
  <meta name="description" content="Let J.Crew help you figure out what to wear.">
  <title>J.Crew Help Me!</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" >

</head>
<body>
  <!-- preloader -->
  <!-- <div class="preloader"><span class="preloader-gif"></span></div> -->

  <div class="products">
    <!-- loop through categories -->
    <% @categories.each do |key, attributes| %>
      <!-- loop through subcategories (i.e. sweaters, pants) -->
      <% attributes.get_links.zip(attributes.get_links_img).each do |link, image| %>
        <div class="product">
          <a href="<%= link %>" target="_blank"><img src="<%= image %>"></a>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="gender">
    <h1>Please choose</h1>
    <div class="female button">Female</div>
    <div class="male button">Male</div>
  </div>

  <div id="women">
    <div class="women-tops"></div>
    <div class="women-bottoms"></div>
    <div class="another button">Generate Another</div>
  </div>
  <div id="men">
    <div class="men-tops"></div>
    <div class="men-bottoms"></div>
    <div class="another button">Generate Another</div>
  </div>



  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="javascripts/jcrew.js"></script>

</body>
</html>