@import url("http://fonts.googleapis.com/css?family=Pacifico");
/* line 7, ../sass/style.scss */
body {
  margin: 0;
  background: url("../grey_stripes.jpg") repeat;
}

/* line 12, ../sass/style.scss */
a {
  text-decoration: none;
  font-family: "Pacifico";
  font-size: 18px;
}

/*----preloader----*/
/* line 20, ../sass/style.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
}
/* line 29, ../sass/style.scss */
.preloader .preloader-gif {
  display: block;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -350px;
  background: url("../preloader.gif") no-repeat;
}

/*---container---*/
/* line 43, ../sass/style.scss */
.container {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

/*----buttons----*/
/* line 51, ../sass/style.scss */
.button {
  cursor: pointer;
  background: #fff;
}

/*----choose gender----*/
/* line 57, ../sass/style.scss */
#gender {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* line 63, ../sass/style.scss */
#gender h1 {
  font-family: "Pacifico";
  font-size: 50px;
  margin: 0;
  padding: 20px 15px;
}
/* line 70, ../sass/style.scss */
#gender h3 {
  font-family: "Pacifico";
  font-size: 30px;
}
/* line 75, ../sass/style.scss */
#gender img {
  border: 2px solid #ccc;
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
/* line 83, ../sass/style.scss */
#gender .button {
  padding: 10px;
  margin: 10px auto;
  height: 50px;
  line-height: 50px;
  width: 60%;
  min-width: 300px;
  font-family: 'Arial';
  font-size: 20px;
}
/* line 94, ../sass/style.scss */
#gender .female {
  border: 2px solid #E10573;
  color: #E10573;
}
/* line 99, ../sass/style.scss */
#gender .male {
  border: 2px solid #1867E7;
  color: #1867E7;
}

/*----outfits----*/
/* line 107, ../sass/style.scss */
#outfits {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  min-height: 100vh;
}

/* line 115, ../sass/style.scss */
#women,
#men {
  width: 100%;
  text-align: center;
}
/* line 120, ../sass/style.scss */
#women h5,
#men h5 {
  font-family: "Pacifico";
  font-size: 30px;
  margin: 0;
  padding: 20px 15px;
}
/* line 127, ../sass/style.scss */
#women p,
#men p {
  font-family: 'Arial';
  padding-right: 15px;
  padding-left: 15px;
}
/* line 132, ../sass/style.scss */
#women p span,
#men p span {
  font-family: "Pacifico";
  font-size: 18px;
}
/* line 138, ../sass/style.scss */
#women .gender-container,
#men .gender-container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* line 145, ../sass/style.scss */
#women .gender-container img,
#men .gender-container img {
  border: 1px solid #ccc;
  width: 320px;
  height: auto;
  margin: 7px 0;
}
/* line 152, ../sass/style.scss */
#women .gender-container .button,
#men .gender-container .button {
  width: 320px;
  height: 60px;
  line-height: 60px;
  margin: 7px 0;
  font-size: 16px;
}

/* line 164, ../sass/style.scss */
#women .button {
  border: 1px solid #E10573;
  color: #E10573;
  font-family: 'Arial';
}
/* line 170, ../sass/style.scss */
#women .male {
  color: #1867E7;
}
/* line 175, ../sass/style.scss */
#women h5 span {
  color: #E10573;
}
/* line 181, ../sass/style.scss */
#women p span {
  color: #E10573;
}
/* line 186, ../sass/style.scss */
#women a {
  color: #E10573;
}

/* line 193, ../sass/style.scss */
#men .button {
  border: 1px solid #1867E7;
  color: #1867E7;
  font-family: 'Arial';
}
/* line 199, ../sass/style.scss */
#men .female {
  color: #E10573;
}
/* line 204, ../sass/style.scss */
#men h5 span {
  color: #1867E7;
}
/* line 210, ../sass/style.scss */
#men p span {
  color: #1867E7;
}
/* line 215, ../sass/style.scss */
#men a {
  color: #1867E7;
}
