@import url("http://fonts.googleapis.com/css?family=Pacifico");
/* line 7, ../sass/style.scss */
body {
  margin: 0;
  background: url("../grey_stripes.jpg") repeat;
}

/* line 12, ../sass/style.scss */
a {
  text-decoration: none;
}

/*----preloader----*/
/* line 18, ../sass/style.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
}
/* line 27, ../sass/style.scss */
.preloader .preloader-gif {
  display: block;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -350px;
  background: url("../preloader.gif") no-repeat;
}

/*---container---*/
/* line 41, ../sass/style.scss */
.container {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

/*----buttons----*/
/* line 49, ../sass/style.scss */
.button {
  cursor: pointer;
  background: #fff;
}

/*----choose gender----*/
/* line 55, ../sass/style.scss */
#gender {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /* Internet Explorer 10 */
  /*    display:-ms-flexbox;
      -ms-flex-pack:center;
      -ms-flex-align:center;*/
  /* Firefox */
  /*    display:-moz-box;
      -moz-box-pack:center;
      -moz-box-align:center;*/
  /* Safari, Opera, and Chrome */
  /*    display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;*/
  /* W3C */
  /*    display:box;
      box-pack:center;
      box-align:center;*/
}
/* line 81, ../sass/style.scss */
#gender h1 {
  font-family: "Pacifico";
  font-size: 50px;
  margin: 0;
  padding: 20px 15px;
}
/* line 88, ../sass/style.scss */
#gender h3 {
  font-family: "Pacifico";
  font-size: 30px;
}
/* line 93, ../sass/style.scss */
#gender img {
  border: 2px solid #ccc;
  width: 95%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
/* line 101, ../sass/style.scss */
#gender .button {
  padding: 10px;
  margin: 10px auto;
  height: 60px;
  line-height: 60px;
  width: 60%;
  min-width: 300px;
  font-family: 'Arial';
  font-size: 20px;
}
/* line 112, ../sass/style.scss */
#gender .female {
  border: 2px solid #E10573;
  color: #E10573;
}
/* line 117, ../sass/style.scss */
#gender .male {
  border: 2px solid #1867E7;
  color: #1867E7;
}

/*----outfits----*/
/* line 125, ../sass/style.scss */
#outfits {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  min-height: 100vh;
}

/* line 133, ../sass/style.scss */
#women,
#men {
  width: 100%;
  text-align: center;
}
/* line 138, ../sass/style.scss */
#women h5,
#men h5 {
  font-family: "Pacifico";
  font-size: 30px;
  margin: 0;
  padding: 20px 15px;
}
/* line 145, ../sass/style.scss */
#women p,
#men p {
  font-family: 'Arial';
  padding-right: 15px;
  padding-left: 15px;
}
/* line 150, ../sass/style.scss */
#women p span,
#men p span {
  font-family: "Pacifico";
}
/* line 155, ../sass/style.scss */
#women .gender-container,
#men .gender-container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* line 162, ../sass/style.scss */
#women .gender-container img,
#men .gender-container img {
  border: 1px solid #ccc;
  width: 320px;
  height: auto;
  margin: 7px 0;
}
/* line 169, ../sass/style.scss */
#women .gender-container .button,
#men .gender-container .button {
  width: 320px;
  height: 60px;
  line-height: 60px;
  margin: 7px 0;
  font-size: 16px;
}

/* line 181, ../sass/style.scss */
#women .button {
  border: 1px solid #E10573;
  color: #E10573;
  font-family: 'Arial';
}
/* line 187, ../sass/style.scss */
#women .male {
  color: #1867E7;
}
/* line 192, ../sass/style.scss */
#women h5 span {
  color: #E10573;
}
/* line 198, ../sass/style.scss */
#women p span {
  color: #E10573;
}
/* line 203, ../sass/style.scss */
#women a {
  color: #E10573;
}

/* line 210, ../sass/style.scss */
#men .button {
  border: 1px solid #1867E7;
  color: #1867E7;
  font-family: 'Arial';
}
/* line 216, ../sass/style.scss */
#men .female {
  color: #E10573;
}
/* line 221, ../sass/style.scss */
#men h5 span {
  color: #1867E7;
}
/* line 227, ../sass/style.scss */
#men p span {
  color: #1867E7;
}
/* line 232, ../sass/style.scss */
#men a {
  color: #1867E7;
}
