/*----preloader----*/
/* line 3, ../sass/style.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
}
/* line 12, ../sass/style.scss */
.preloader .preloader-gif {
  display: block;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -350px;
  background: url("../preloader.gif") no-repeat;
}

/* line 24, ../sass/style.scss */
img {
  width: 250px;
  height: auto;
  /*border-radius: 25%;*/
}

/* line 30, ../sass/style.scss */
#women,
#men {
  float: left;
}
